body {
    background-color: aquamarine;
}
.nav {
    background-color: #00008b;
    overflow: hidden;
  }
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 40px 30px;
    text-decoration: none;
    font-size: 17px;
  }
.nav a:hover {
    background-color: #ddd;
    color: black;
  }
.nav a.active {
    background-color: #04AA6D;
    color: white;
  }
.websites a {
    float: center;
    color: #000000;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
  }

.websites a:hover {
    background-color: #ddd;
    color: black;
  }
.websites a.active {
    background-color: #04AA6D;
    color: white;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    background-color: #00008b;           
  }
#footer-text {
    color: aliceblue;
}
#footer-text {
    position: left;
    right: 0px;
    width: 300px;
    padding: 10px;
}
